{% extends 'MQMShopBundle:Backend:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mqmshop/css/user.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/mqmshop/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link type="text/css" href="{{ asset('bundles/mqmshop/js/jqueryui/css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}| Administración | Panel de control |{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopBackendPanelControlIndex') }}">Panel de control</a> \ Estadísticas{% endblock %}

{% block left_content %}
    <!--start 1a fila botones-->
    <div class="btn_estadisticas">
        <div class=" mas_Visitados"><a href="{{ path('TKShopBackendStatMostSold') }}">Mas Vendidos</a></div>
        <div class=" btn_state_current">Mas Visitados</div>
        <div class="google_analytics"><a href="https://www.google.com/analytics/web/#report/visitors-overview/a29696718w55914268p56967804/" target="_blank">Google Analytics</a></div>
    </div>
    <!--End 1a fila botones-->
    {% include 'MQMShopBundle:Backend/Statistic:showAll.partialhtml.twig' with {'statistics' : statistics}%}
{% endblock %}