<div class="legend_state_container">
    {% set currentSort = sortManager.currentSort %}
    <div class=" producto_state_legend {% if(sortManager.sorts['name'] == currentSort) %}current{% endif %}"><a href="{{sortManager.sorts['name'].url}}">Producto</a></div>
    <div class=" ref_state_legend {% if(sortManager.sorts['referencia'] == currentSort) %}current{% endif %}"><a href="{{sortManager.sorts['referencia'].url}}">Referencia</a></div>
    <div class=" categoria_state_legend {% if(sortManager.sorts['categoria'] == currentSort) %}current{% endif %}"><a href="{{sortManager.sorts['categoria'].url}}">Categoría</a></div>
    <div class=" marca_state_legend {% if(sortManager.sorts['marca'] == currentSort) %}current{% endif %}"><a href="{{sortManager.sorts['marca'].url}}">Marca</a></div>
    <div class="vistas_state_legend {% if(sortManager.sorts['visitas'] == currentSort) %}current{% endif %}"><a href="{{sortManager.sorts['visitas'].url}}">{{counterName}}</a></div>
</div>