    {% if entities is defined and entities | length > 0%}
        {% if entities | length < 1 %}
        <span class="text_bold">Todavía no ha realizado ningun pedido</span></div>
        {% endif %}
        {% set currentSort = sortManager.currentSort %}
        <div class="legend_container">
            <div class="producto_legend"><a href="{{ sortManager.sorts['pedido'].url}}" class="{% if(sortManager.sorts['pedido'] == currentSort) %}current{% endif %}">Número del pedido</a></div>
            <div class="precio_ud_legend"><a href="{{ sortManager.sorts['fecha'].url}}"  class="{% if(sortManager.sorts['fecha'] == currentSort) %}current{% endif %}">Fecha</a></div>
            <div class="cantidad_legend"><a href="" class="{% if(sortManager.sorts['cantidad'] == currentSort) %}current{% endif %}">Cantidad</a></div>
            <div class="subtotat_legend"><a href="{{ sortManager.sorts['importe'].url}}" class="{% if(sortManager.sorts['importe'] == currentSort) %}current{% endif %}">Importe</a></div>
          <div class="estado"><a href="{{ sortManager.sorts['estado'].url}}" class="{% if(sortManager.sorts['estado'] == currentSort) %}current{% endif %}">Estado</a></div>
        </div>
        {% for entity in entities %}

       <div class="legend_container">
                <div class="producto_legend"><a href="{{ path('TKShopFrontendOrderShow', {'publicId' : entity.publicId }) }}">{%if entity.publicId is null %} {{entity.id}} {% else %} {{ entity.publicId }} {% endif %}</a></div>
                <div class="precio_ud_legend">{{ entity.createdAt | date ("d/m/Y") }}</div>
                <div class="cantidad_legend">{{ entity.productsQuantity }}</div>
                <div class="subtotat_legend">{{ entity.totalPrice | mqm_monetary_roundoff ~ mqm_monetary_currency_symbol() }}</div>
                {% if entity.status == "RECEIVED" %}
                <div class="estado_recibido">{{ ('order.' ~ entity.status) | trans({}, 'MQMOrderBundle') }}</div>
                {% endif %}

                {% if entity.status == "IN_PROCESS" %}
                <div class="estado_en_proceso">{{ ('order.' ~ entity.status) | trans({}, 'MQMOrderBundle') }}</div>
                {% endif %}

                {% if entity.status == "DELIVERED" %}
                <div class="estado_enviado">{{ ('order.' ~ entity.status) | trans({}, 'MQMOrderBundle') }}</div>
                {% endif %}
     </div>
        {% endfor %}
    {% else %}                       
    {% endif %} {# if sorts is defined #}
