{% extends 'MQMShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Cesta |{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mqmshop/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block menu %}
        {% include 'MQMShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ <a href="{{ path('TKShopFrontendUserShow', {'_format': 'html'}) }}">Mi cuenta</a> \ Cesta \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | mqm_shop_to_app_path %}
{% endblock %}

{% block jsfunctions %}
    {{ parent() }}
<script>
jQuery(document).ready(function(){
    
    var cartOptions = new Array();
    cartOptions['isEnabled'] = true;
    
    var dialogDisabledOrder = $('<div></div>')
                .html('La confirmación de pedidos aún no se encuentra activada')
                .dialog({
                        autoOpen: false,
                        title: 'Función deshabilitada',
                        resizable: false,
                        height:240,
                        modal: true,
                        buttons: {
                            "Volver": function() {
                                    $( this ).dialog( "close" );
                            }
                    }
        });
        
        var dialogEmptyCart = $('<div></div>')
                .html('No hay productos en el carrito')
                .dialog({
                        autoOpen: false,
                        title: 'Carrito vacio',
                        resizable: false,
                        height:240,
                        modal: true,
                        buttons: {
                            "Volver": function() {
                                    $( this ).dialog( "close" );
                            }
                    }
                });
                
        var dialogDeleteItem = $('<div></div>')
            .html('Seguro que quiere sacar el producto del carrito ?')
            .dialog({
                    autoOpen: false,
                    title: 'Quitar producto',
                    resizable: false,
                    height:240,
                    modal: true,
                    buttons: {
                        "Eliminar": function() {
                                $( this ).dialog( "close" );
                                var path = jQuery(".btn_eliminar_cesta a").attr('href');
                                window.location.href = path;
                        },
                        "Cancelar": function() {
                                $( this ).dialog( "close" );
                        }
                }
            });

    
    jQuery(".confirmar_pedido").click(function(event){
        
        if(cartOptions['isEnabled'] == false){
            event.preventDefault(); // now js will take full control of the product delection

            delform = $( this ).parents("form");

            dialogDisabledOrder.bind( "dialogbeforeclose", function(e, ui) {
            //alert( $(e.target)[0].tittle );
            });
            dialogDisabledOrder.dialog("open");
        }
        
        else if({{ entity.items | length }} < 1){
            event.preventDefault(); // now js will take full control of the product delection

            delform = $( this ).parents("form");

            dialogEmptyCart.bind( "dialogbeforeclose", function(e, ui) {
            //alert( $(e.target)[0].tittle );
            });
            dialogEmptyCart.dialog("open");
        }

    });
    
    jQuery(".btn_eliminar_cesta a").click(function(event){
        
        event.preventDefault();
        dialogDeleteItem.dialog("open");
        return false;

    });
        
 })
    </script>

    <script>
jQuery(document).ready(function(){
   jQuery('.input_cantidad_cesta').click(function(event){
       var value = jQuery(this).attr('value');
   if(value < 1){
       value = 1;
   }
   jQuery(this).attr('value', value);
   })
})
    </script>
{% endblock jsfunctions %}

{% block right_content %}
    
{% include 'MQMShopBundle:Frontend/User:menu.partialhtml.twig' with {'nothing' : 'null'} %}            

{% include 'MQMShopBundle:Default:flashErrors.partialhtml.twig' %}            

        <!--end menu user-->  <!--start cuerpo--> 
        <div class="right_cuerpo_user">
            <div class="titulo_current">Contenido de la cesta:</div>

            <div class="lista_pedidos_container">
                {% include 'MQMShopBundle:Frontend/User/ShoppingCart:cart_item_fields.partialhtml.twig'%}                
                <form name="edit_form" action="{{ path('TKShopFrontendUserShoppingCartUpdate') }}" method="post" {{ form_enctype(edit_form) }}>
                    {%if edit_form.items | length > 0%}
                        {% for item in edit_form.items %}
                            {% if (entity.items[loop.index0] is defined ) %}
                                {% set dataItem = entity.items[loop.index0] %}
                                {% include 'MQMShopBundle:Frontend/User/ShoppingCart:cart_item.partialhtml.twig' with {'isEditable' : true} %}
                            {% endif %}
                        {% endfor %}
                        {{ form_rest(edit_form) }}
                    {%endif%}
                    {% include 'MQMShopBundle:Frontend/User/ShoppingCart:cart_summary.partialhtml.twig' with {'entity' : entity} %}
                    <div class="btn_accion_container">
                        <input type="hidden" id="{{ order_field }}" name="{{ order_field }}" value="{{ update_value }}"/>
                        <input class="btn_guardar_pedido" onclick="edit_form.{{ order_field }}.value='{{ update_value }}'; return true;" type="submit" name="Actualizar Pedido" value="Actualizar Pedido"/>
                        <input class="confirmar_pedido" onclick="edit_form.{{ order_field }}.value='{{ comfirm_value }}'; return true;" type="submit" name="Previsualizar Pedido" value="Previsualizar Pedido"/>
                    </div>                
                </form>
            </div>
        </div><!--end cuerpo--> 
{% endblock right_content %}