{% extends 'MQMShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Carrito |{% endblock %}

{% block menu %}
        {% include 'MQMShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | mqm_shop_to_app_path %}
{% endblock %}

{% block right_content %}

<form action="{{ path('TKShopFrontendShoppingCartCreate') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('TKShopFrontendShoppingCartIndex') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock right_content %}



