{% extends 'MQMShopBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mqmshop/css/user.css') }}" rel="stylesheet" type="text/css" />
    <link type="text/css" href="{{ asset('bundles/mqmshop/js/jqueryui/css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts%}
    
{% block jsfunctions %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function(){
        jQuery('.pedido_container .pedido_legend').click(function(event){
            var orderDetails = jQuery(this).parent().parent().parent().find('.pedido_detalles');
            jQuery('.pedido_detalles').each(function(key, value){
                if (this != orderDetails.get(0)) {
                    jQuery(value).slideUp('slow');
                }
            })
            jQuery(orderDetails).slideToggle('slow');
        })
     })
     </script>
{% endblock jsfunctions %}

{% block contextualThree %}<a href="{{ path('TKShopBackendPanelControlIndex') }}">Panel de control</a> \ <a href="{{ path('TKShopBackendBrandsIndex') }}">Administrar Pedidos</a> \ Gestionar Pedidos{% endblock %}

{% block left_content %}
<div class="lista_pedidos_container">
    <div class="legend_container">
            {% set currentSort = sortManager.currentSort %}
            <div class="pedido_legend {% if(sortManager.sorts['pedido'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['pedido'].url}}"><span>Número del pedido</span> <span>/ Cliente</span></a></div>
            <div class="precio_ud_legend {% if(sortManager.sorts['fecha'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['fecha'].url}}">Fecha</a></div>
            <div class="cantidad_legend"><a href="#">Cantidad</a></div>
            <div class="subtotat_legend {% if(sortManager.sorts['importe'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['importe'].url}}">Importe</a></div>
            <div class="estado {% if(sortManager.sorts['estado'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['estado'].url}}">Estado</a></div>
    </div>
    {% for orderForm in orderForms %}
        <div class="pedido_container">
            <div class="legend_container">
            {% include 'MQMShopBundle:Backend/Order:showOrderSummary.partialhtml.twig'
                with {'orderForm' : orderForm, 'order' : orderForm.vars.value} %}
            </div>
            <div class="pedido_detalles">
            {% include 'MQMShopBundle:Backend/Order:showOrderDetails.partialhtml.twig'
                with {'order' : orderForm.vars.value} %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock left_content %}