<form action="{{ path('TKShopBackendOrderUpdate', {'id': order.id}) }}" method="post" {{ form_enctype(orderForm) }}>
    {% set orderClass = " estado_recibido" %}
    {% if order.status == "IN_PROCESS" %}
        {% set orderClass = " estado_en_proceso" %}
    {% endif %}
    {% if order.status == "DELIVERED" %}
        {% set orderClass = " estado_enviado" %}
    {% endif %}
    <div class="pedido_legend"><a href="#"><span>{{ order.publicId }}</span></a> <a href="{{ path('TKShopBackendUserProfile', {'id': order.user.id})}}" target="_blank"><span>/ {{ order.user.username }}</span></a></div>
    <div class="precio_ud_legend ">{{ order.createdAt | date('d/m/y') }}</div>
    <div class="cantidad_legend">{{ order.productsQuantity }}</div>
    <div class="subtotat_legend {{ orderClass }}">{{ order.totalPrice | mqm_monetary_roundoff | mqm_monetary_pretty_price ~ mqm_monetary_currency_symbol() }}</div>
    {{ form_widget(orderForm.status, {'attr' : {'class' : orderClass}}) }}
    <div class="submit_pedido">
        <input type="submit" name="Enviar" value="Enviar"/>
    </div>
    <a href="{{path('TKShopFrontendOrderDelete', {'id' : order.id})}}">d</a>
    {{form_rest(orderForm)}}
</form>