<script type="text/javascript" src="{{asset('bundles/mqmshop/js/error_display.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".btn_solicitar_alta").click(function(event){
            event.preventDefault(); // now js will take full control of the brand delection
            var form = $( this ).parents("form");

            if (jQuery("[name=checkbox]").is(':checked')) {
                form.submit();
            }
            else {
                alert ('Debe aceptar la Política de uso');
            }
        });
    });
</script>

<!--start formulario de alta-->
<div class="formulario_alta_new_cliente">
    <div class="field_inline_error" name="Email"> {{ form_errors(form) }}</div>
    <div class="form_new_cliente_container">
        <p><span class=" text_general"><span class="red">*</span> Campos obligatorios</span></p>
        <br/>


        <div class="input_container_new_cliente">

            <div class="input_left">
                <p><span class="red">*</span> Nombre:</p>

                <div class="field_inline_error" name="Nombre"> {{ form_errors(form.firstName) }}</div>
                {{ form_widget(form.firstName, {'attr' : { 'class' : 'input_new_cliente_nombre_appellido' } }) }}
                </div>

            <div class="input_right"><p><span class="red">*</span> Apellidos:</p>
                <div class="field_inline_error" name="Apellidos"> {{ form_errors(form.lastName) }}</div>
                {{ form_widget(form.lastName, {'attr' : { 'class' : 'input_new_cliente_nombre_appellido' } }) }}
            </div>
        </div>

        <br/>

        <p><strong class="blue">Introduzca los datos de acceso:</strong></p>

        <div class="linea_horizontal"></div>

        <div class="input_container_new_cliente">
            {% for emailField in form.email %}
                {% if loop.index0 == 0%}
                    <div class="input_left"><p><span class="red">*</span> e-mail:</p>
                        <div class="field_inline_error" name="Email"> {{ form_errors(emailField) }} </div>
                        {{ form_widget(emailField, { 'attr': {'class': 'input_new_cliente'} }) }}
                    </div>
                {% else %}
                    <div class="input_right"><p><span class="red">*</span> Confirmar e-mail:</p>
                        <div class="field_inline_error" name="Email"> {{ form_errors(emailField) }} </div>
                        {{ form_widget(emailField, { 'attr': {'class': 'input_new_cliente'} }) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="input_container_new_cliente">
            {% for passwordField in form.password %}
                {% if loop.index0 == 0%}
                    <div class="input_left"><p><span class="red">*</span> Contraseña:</p>
                        <div class="field_inline_error" name="Password"> {{ form_errors(passwordField) }} </div>
                        {{ form_widget(passwordField, { 'attr': {'class': 'input_new_cliente'} }) }}
                    </div>
                    {% else %}
                    <div class="input_right"><p><span class="red">*</span> Confirmar contraseña:</p>
                        <div class="field_inline_error" name="Password"> {{ form_errors(passwordField) }} </div>
                        {{ form_widget(passwordField, { 'attr': {'class': 'input_new_cliente'} }) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br/>

        <p><strong class="blue">Introduzca los datos de su empresa:</strong></p>

        <div class="linea_horizontal"></div>

        <div class="input_container_new_cliente">
            <div class="input_left"><p><span class="red">*</span> Razón social:</p>

                <div class="field_inline_error" name="Razón social"> {{ form_errors(form.firmName) }}</div>
                {{ form_widget(form.firmName, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
            <div class="input_right"><p><span class="red">*</span> CIF:</p>

                <div class="field_inline_error" name="CIF">{{ form_errors(form.vatin) }}</div>
                {{ form_widget(form.vatin, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
        </div>

        <div class="input_container_new_cliente">
            <div class="input_left_2"><p><span class="red">*</span> Dirección:</p>

                <div class="field_inline_error" name="Dirección">{{ form_errors(form.address) }}</div>
                {{ form_widget(form.address, {'attr' : { 'class' : 'input_new_cliente_direccion' } }) }}
            </div>

            <div class="input_right_2"><p><span class="red">*</span> CP:</p>

                <div class="field_inline_error" name="CP">{{ form_errors(form.zipCode) }}</div>
                {{ form_widget(form.zipCode, {'attr' : { 'class' : 'input_new_cliente_cp' } }) }}
            </div>
        </div>

        <div class="input_container_new_cliente">
            <div class="input_left"><p><span class="red">*</span> Población:</p>

                <div class="field_inline_error" name="Población"> {{ form_errors(form.city) }}</div>
                {{ form_widget(form.city, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
            <div class="input_right"><p><span class="red">*</span> Provincia:</p>

                <div class="field_inline_error" name="Provincia">{{ form_errors(form.province) }}</div>
                {{ form_widget(form.province, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
        </div>

        <div class="input_container_new_cliente">
            <div class="input_left"><p><span class="red">*</span> Teléfono:</p>

                <div class="field_inline_error" name="Teléfono">{{ form_errors(form.phone) }} </div>
                {{ form_widget(form.phone, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
            <div class="input_right"><p>Fax:</p>

                <div class="field_inline_error" name="Fax">{{ form_errors(form.fax) }}</div>
                {{ form_widget(form.fax, {'attr' : { 'class' : 'input_new_cliente' } }) }}
            </div>
        </div>

        {% for key, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="field_inline_error" name="{{ key }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {{ form_rest(form) }}

        <div class="aceptar_enviar_container">
            <span><input name="checkbox" type="checkbox" value="" checked="checked"/> <span>Acepto la <strong
                    class="blue">Política de uso</strong> de Tecnokey.com</span></span>

            <div class="btn_solicitar_alta">
                <button type="submit"">Enviar</button>
            </div>
        </div>

    </div>
</div>
<!--end formulario-->